<div layout="vertical" layout-fill>

  <div flex layout="row">
  <md-content flex>
    <header>
      <acme-navbar></acme-navbar>
    </header>
    <section class="jumbotron">
      <md-input-container>
        <label>Lightbox ID</label>
        <input ng-model="vm.lbId">
      <md-button class="md-raised animated infinite" ng-click="vm.onSubmit()">Submit</md-button>
      </md-input-container>
      <p>
        Download Lightbox Images from Shutterstock
      </p>
    </section>

    <section class="jumbotron">
      <h3 ng-if="vm.dlLinks">Download Links will appear here</h3>
      <md-list flex>
        <md-list-item ng-repeat="dlLink in vm.dlLinks"><a href="{{dlLink}}">{{dlLink}}</a></md-list-item>
      </md-list>
    </section>

  </md-content>
  </div>

</div>
